/* ================= HERO ================= */

.hero {
  position: relative;
  background: url("../assets/images/Galaxy-background.webp") center / cover no-repeat;
}

/* OVERLAY */

.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.45) 40%,
    rgba(0, 0, 0, 0.1) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  z-index: 1;
}

/* HERO INNER */

.hero-inner {
  padding: 120px 0 40px;
  display: flex;
  align-items: center;
}

/* HERO CONTAINER */

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  max-width: 1300px;

  padding: 0 80px;
  margin: auto;

  position: relative;
  z-index: 2;
}

/* HERO CONTENT */

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  max-width: 600px;

  color: white;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

/* HERO VISUAL */

.hero-visual {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: visible;
}

/* PREVIEW */

.preview-section {
  background: black;
  padding: 60px 0 80px;
}

.hero-preview {
  display: flex;
  justify-content: center;
}

.hero-preview video {
  width: 80%;
  max-width: 1300px;

  border-radius: 20px;
  display: block;
}